.config/dconf/
.config/go/telemetry/*

# git for emacs
.emacs.d/*
!.emacs.d/core
!.emacs.d/modules
!.emacs.d/programs
!.emacs.d/snippets
!.emacs.d/site-lisp
!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/script.py
!.emacs.d/pinned-packages.el

.emacs.d_v2/*
!.emacs.d_v2/core
!.emacs.d_v2/modules
!.emacs.d_v2/site-elisp
!.emacs.d_v2/banner.txt
!.emacs.d_v2/early-init.el
!.emacs.d_v2/init.el
!.emacs.d_v2/script.py

.emacs.d_v3/*
!.emacs.d_v3/core
!.emacs.d_v3/modules
!.emacs.d_v3/site-elisp
!.emacs.d_v3/early-init.el
!.emacs.d_v3/init.el
!.emacs.d_v3/script.py

# git for neovim
.config/nvim/undodir
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json

