.config/dconf/
.config/go/telemetry/*

.emacs.d/*
!.emacs.d/core/*
!.emacs.d/modules/*
!.emacs.d/site-lisp/*
!.emacs.d/init.el
!.emacs.d/early-init.el
!.emacs.d/script.py

.config/nvim/undodir/*
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json

